* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}
.wrapper{
    width: 100vw;
    overflow: hidden;
}
#loading{
    width: 100%;
    height: 100vh;
    position: fixed;
	z-index: 999;
    /* display: none; */
    background-color: #EED992;
}
.loading{
    position:relative;
}
.loading_contents{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    animation:katakata 0.8s infinite ease-in-out alternate;
    transform-origin: center center;
    color: #4B4846;
}
.loading_contents img{
    width: 100px;
}
@keyframes katakata {
    0% {transform:translate(-50%,-50%) rotate(0deg);}
    49% {transform:translate(-50%,-50%) rotate(0deg);}
    50% {transform:translate(-50%,-50%) rotate(-6deg);}
    100% {transform:translate(-50%,-50%) rotate(-6deg);}
  }