@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;500&display=swap');

@font-face {
    font-family: 'Vision Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Vision Light Italic'), url('fonts/Vision-LightItalic.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%;
    font-family: 'Noto Serif JP', serif;
    font-weight: lighter;
    background-color: #EED992;
}
.fade {
    opacity: 0;
    transition: opacity 3s;
}

.fade.view {
    opacity: 1;
}
.wrapper {
    width: 100vw;
    overflow: hidden;
}
.sp{
    display: none;
}

#loading {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 999;
    display: none;
    background-color: #EED992;
}

.loading {
    position: relative;
}

.loading_contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: rattling 0.8s infinite ease-in-out alternate;
    transform-origin: center center;
    color: #4B4846;
    opacity: 0.9;
}

@keyframes rattling {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    49% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    50% {
        transform: translate(-50%, -50%) rotate(-6deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-6deg);
    }
}

.loading_contents img {
    width: 100px;
}
.loading_contents p{
    font-family: 'Vision Light Italic';
}


header {
    width: 100vw;
    height: 100vh;
    position: relative;
    writing-mode: vertical-rl;
}

header nav {
    position: absolute;
    top: 3%;
    right: 4%;
    z-index: 8;
}

header nav li {
    margin: 20px;
    opacity: 0.8;
}

header nav li a {
    font-size: 2.7rem;
    letter-spacing: 0.3rem;
    padding: 14px 2px;
    color: rgb(75, 72, 70, 0.8);
    background-color: #F8F8EF;
}
nav li:hover{
    transform: rotate(-5deg);
}
header nav li a span {
    text-combine-upright: all;
    margin-bottom: 3px;
  }
h1 {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 8rem;
    font-weight: 500;
    white-space: nowrap;
    letter-spacing: 0.3rem;
    color: rgb(75, 72, 70, 0.8);
}

.header_description {
    position: absolute;
    bottom: 2%;
    left: 8%;
    z-index: 7;
    opacity: 0.7;
    color: #4B4846;
    font-size: 2.7rem;
    letter-spacing: 0.3rem;
    line-height: 7.6rem;
}

.header_description p span {
    padding-right: 2rem;
    border-right: 0.1px solid rgb(75, 72, 70, 0.6);
}

.decoration * {
    position: absolute;
}

header .decoration img:nth-child(1) {
    width: 40%;
    top: -10%;
    left: -10%;
    z-index: 5;
}

header .decoration img:nth-child(2) {
    width: 55%;
    top: 10%;
    left: 10%;
    z-index: 4;
}

header .decoration img:nth-child(3) {
    width: 45%;
    top: 25%;
    left: 30%;
    z-index: 3;
}

header .decoration img:nth-child(4) {
    width: 35%;
    bottom: -15%;
    right: 2%;
    z-index: 2;
    transform: scale(-1, 1);
}

header .decoration::before,
header .decoration::after {
    position: absolute;
    content: "";
    background-color: rgb(75, 72, 70, 0.6);
    transform: translate(-50%, -50%);
}

header .decoration::before {
    top: 60%;
    left: 54%;
    z-index: 6;
    padding: 20vh 1px
}

header .decoration::after {
    top: 74%;
    left: 50%;
    z-index: 6;
    padding: 1px 12vw;
}

.button {
    position: relative;
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 50px;
    overflow: hidden;
}

.button a {
    text-decoration: none;
}

.button p {
    font-size: 2rem;
    line-height: 0;
    color: #fff;
    font-family: 'Vision Light Italic';
    padding: 17px 30px 15px;
    text-align: center;
    white-space: nowrap;
}
.button .bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
}
.button .bg p{
    position: relative;
    font-size: 2rem;
    line-height: 0;
    color: #EED992;
    background-color: #fff;
    font-family: 'Vision Light Italic';
    padding: 17px 30px 15px;
    text-align: center;
    white-space: nowrap;
}

.nav_container{
    position: relative;
    z-index: 9999;
    opacity: 0;
}
.nav_container.UpMove{
	animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime{
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*　下に下がる動き　*/

.nav_container.DownMove{
	animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime{
  from {
  	opacity: 0;
  }
  to {
  	opacity: 1;
  }
}

/*アクティブになったエリア*/
#g-nav.panelactive{
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position:fixed;
    z-index: 999;
	top: 0;
	width:100%;
    height: 100vh;
}

/*丸の拡大*/
.circle-bg{
    position: fixed;
	z-index:998;
    /*丸の形*/
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #EED992;
    /*丸のスタート位置と形状*/
	transform: scale(0);/*scaleをはじめは0に*/
	right:-50px;
    top:-50px;
    transition: all .6s;/*0.6秒かけてアニメーション*/
}

.circle-bg.circleactive{
	transform: scale(50);/*クラスが付与されたらscaleを拡大*/
}

/*ナビゲーションの縦スクロール*/
#g-nav-list{
    display: none;/*はじめは表示なし*/
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#g-nav.panelactive #g-nav-list{
     display: block; /*クラスが付与されたら出現*/
}

/*ナビゲーション*/
#g-nav ul {
	opacity: 0;/*はじめは透過0*/
    /*ナビゲーション天地中央揃え※レイアウトによって調整してください。不必要なら削除*/
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/*背景が出現後にナビゲーションを表示*/
#g-nav.panelactive ul {
    opacity:1;
}

/* 背景が出現後にナビゲーション li を表示※レイアウトによって調整してください。不必要なら削除*/
#g-nav.panelactive ul li{
animation-name:gnaviAnime;
animation-duration:1s;
animation-delay:.2s;/*0.2 秒遅らせて出現*/
animation-fill-mode:forwards;
opacity:0;
}
@keyframes gnaviAnime{
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}


/*リストのレイアウト設定*/
#g-nav li{
	text-align: center; 
	list-style: none;
    opacity: 0.8;
    margin: 20px;
    text-align: left;
}

#g-nav li a{
    font-size: 2.7rem;
    letter-spacing: 0.3rem;
    padding: 14px 2px;
    color: rgb(75, 72, 70, 0.8);
    background-color: #F8F8EF;
	text-decoration: none;
	padding:20px;
	display: inline-block;
	text-transform: uppercase;
    font-size: 2rem;
    font-weight: 100;
	letter-spacing: 0.3rem;
	font-weight: bold;
}

.openbtn{
    display: inline-block;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}
.openbtn img{
    width: 50px;
}
.openbtn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 1px;
    border-radius: 2px;
	background: #4B4846;
    opacity: 0.5;
  	width: 45%;
}

.openbtn span:nth-of-type(1) {
	top:15px;	
}

.openbtn span:nth-of-type(2) {
	top:23px;
}

.openbtn span:nth-of-type(3) {
	top:31px;
}

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

#intro {
    position: relative;
    height: 1500px;
    margin-top: 100px;
}

#intro h2 {
    position: absolute;
    top: 10%;
    right: 35%;
    z-index: 100;
    writing-mode: vertical-rl;
    font-size: 6rem;
    font-weight: 300;
    white-space: nowrap;
    letter-spacing: 0.3rem;
    color: rgb(75, 72, 70, 0.8);
}


#intro p {
    position: absolute;
    top: 20%;
    right: 50%;
    z-index: 10;
    writing-mode: vertical-rl;
    opacity: 0.7;
    color: #4B4846;
    font-size: 3rem;
    letter-spacing: 0.3rem;
    line-height: 6.3rem;
}

#intro .decoration img:nth-child(1) {
    width: 20%;
    top: 0%;
    left: 2%;
    z-index: 2;
}

#intro .decoration img:nth-child(2) {
    width: 40%;
    top: 14%;
    left: 10%;
    z-index: 1;
}

#intro .decoration img:nth-child(3) {
    width: 58%;
    top: 16%;
    right: 0;
    z-index: 2;
}

#intro .decoration img:nth-child(4) {
    width: 20%;
    top: 60%;
    right: 5%;
    z-index: 3;
}

#intro .decoration img:nth-child(5) {
    width: 20%;
    top: 65%;
    right: 15%;
    z-index: 2;
}

#intro .decoration img:nth-child(6) {
    width: 5%;
    top: 83%;
    right: 32%;
    z-index: 3;
}

#intro .decoration img:nth-child(7) {
    width: 57%;
    top: 45%;
    left: -4%;
    z-index: 2;
}

#intro .decoration img:nth-child(8) {
    width: 18%;
    top: 77%;
    left: 16%;
    z-index: 1;
}

#effect {
    position: relative;
    text-align: center;
    padding-bottom: 200px;
}

h2 {
    font-size: 4rem;
    font-weight: 300;
    white-space: nowrap;
    letter-spacing: 0.3rem;
    color: rgb(75, 72, 70, 0.8);
}
#effect h2{
    position: relative;
    top: 2%;
    left: 70%;
    transform: translate(-50%,-50%);
}

.effect_main_container {
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 120px auto;
}

.effect_main {
    display: inline-block;
    position: relative;
    z-index: 100;
}

.effect_main img {
    width: 300px;
}

.effect_main p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    white-space: nowrap;
    letter-spacing: 0.3rem;
    color: rgb(75, 72, 70, 0.8);
}

#effect .effect_description {
    text-align: center;
    position: relative;
    z-index: 99;
    color: #4B4846;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    line-height: 4.3rem;
    opacity: 0.8;
    margin-bottom: 100px;
}

#effect .button {
    position: relative;
    left: 30%;
    z-index: 100;
}

#effect .button p {
    font-size: 4rem;
    padding: 34px 60px 30px;
    text-align: center;
}

#effect .decoration img:nth-child(1) {
    width: 40%;
    top: 20%;
    right: 10%;
    opacity: 30%;
    transform: rotate(-100deg);
    z-index: 0;
}

#effect .decoration img:nth-child(2) {
    width: 18%;
    bottom: 20%;
    left: 0%;
    z-index: 0;
}

#effect .decoration img:nth-child(3) {
    width: 20%;
    bottom: 10%;
    left: 5%;
    z-index: 0;
}
#effect .decoration img:nth-child(4) {
    width: 6%;
    bottom: 5%;
    left: 25%;
    z-index: 0;
}
#effect .decoration::before {
    content: "";
    position: absolute;
    top: 6%;
    right: 2%;
    z-index: 6;
    padding: 1px 15vw;
    background-color: rgb(75, 72, 70, 0.6);
}

#recipe {
    position: relative;
    text-align: center;
}
#recipe h2{
    text-align: left;
    position: relative;
    left: 10%;
    z-index: 100;
}

.recipe_main_container {
    margin: 0 auto 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#rmc1{
    width: 70%;
    margin-top: 150px;
}
#rmc2{
    width: 50%;
    margin-bottom: 200px;
}

.recipe_main {
    display: inline-block;
    margin: 40px 10px;
    position: relative;
    z-index: 100;
}

.recipe_main img {
    width: 300px;
}

.recipe_main p {
    position: absolute;
    bottom: 5%;
    right: 0;
    padding: 10px 5px 10px 20px;
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    line-height: 1;
    letter-spacing: 0.3rem;
    color: rgb(75, 72, 70, 0.8);
    background: rgb(248,248,239,0.9);
}

#recipe1{
    color: rgb(137,163,211,0.9);
}
#recipe2{
    color: rgb(250,137,99,0.9);
}
#recipe3{
    color: rgb(98,101,94,0.9);
}
#recipe4{
    color: rgb(191,145,44,0.9);
}
#recipe5{
    color: rgb(212,166,114,0.9);
}

#recipe .button {
    position: relative;
    z-index: 100;
    margin: 100px 100px 250px;
}

#recipe .button p {
    font-size: 4rem;
    padding: 34px 60px 30px;
    text-align: center;
}
#recipe .decoration img:nth-child(1) {
    width: 15%;
    bottom: 20%;
    right: 10%;
    transform: rotate(30deg);
}

#recipe .decoration img:nth-child(2) {
    width: 5%;
    bottom: 10%;
    right: 30%;
}
#recipe .decoration::before {
    content: "";
    position: absolute;
    top: 6%;
    left: 2%;
    z-index: 6;
    padding: 1px 12vw;
    background-color: rgb(75, 72, 70, 0.6);
}
#choose {
    position: relative;
    padding-bottom: 200px;
}
#choose h2{
    position: relative;
    top: 2%;
    left: 100%;
    transform: translate(-50%,-50%);
}
#choose .choose_subtitle{
    position: absolute;
    top: 7%;
    right: 2%;
    transform: translate(-50%,0%);
    color: #4B4846;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    line-height: 4.3rem;
    opacity: 0.8;
}
.choose_main_container {
    width: 60%;
    margin: 200px auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.choose_main {
    position: relative;
}
#choose_main1 {
    margin-top: 200px;
}
#choose_main2 {
    margin-top: 150px;
}
#choose_main3 {
    margin-top: 100px;
}
#choose_main4 {
    margin-top: 50px;
}
.choose_main img {
    width: 200px;
}

.choose_main p {
    position: absolute;
    transform: translate(-50%, -50%);
}

.choose_main p:nth-child(2){
    top: 17%;
    left: 10%;
    font-size: 0.5rem;
    color: #FFBC00;
    opacity:80%;
}
.choose_main p:nth-child(3){
    top: 24%;
    left: 14%;
    font-size: 2.3rem;
    color: #FFBC00;
    opacity:80%;
}
.choose_main p:nth-child(4){
    top: 50%;
    left: 52%;
    opacity: 0.8;
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    white-space: nowrap;
    letter-spacing: 0.3rem;
    color: rgb(75, 72, 70, 0.8);
}
.choose_main p:nth-child(5){
    top: 80%;
    left: 53%;
    opacity: 0.7;
    white-space: nowrap;
    text-align: left;
    color: #4B4846;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    line-height: 1.8rem;
}
.choose_main p span{
    border-bottom: 2px solid #fff;;
}
#choose .button{
    margin: 40px 0;
}
#choose .decoration img:nth-child(1) {
    opacity: 0.3;
    width: 30%;
    top: -30%;
    left: 5%;
}

#choose .decoration img:nth-child(2) {
    width: 15%;
    bottom: 20%;
    left: 5%;
}

#choose .decoration img:nth-child(3) {
    width: 5%;
    bottom:12%;
    left: 20%;
}

#choose .decoration::before {
    content: "";
    position: absolute;
    top: 5%;
    right: 2%;
    z-index: 6;
    padding: 1px 15vw;
    background-color: rgb(75, 72, 70, 0.6);
}
#buy {
    text-align: center;
    margin-bottom: 200px;
}
#buy .button p{
    font-size: 4rem;
    padding: 34px 60px 30px;
}
footer {
    position: relative;
}

footer p {
    font-size: 1.5rem;
    color: #F8F8EF;
    text-align: center;
    position: relative;
    z-index: 2;
    padding-bottom: 30px;
}

footer img {
    width: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
}

@media screen and (max-width: 900px) {
    .pc{
        display: none;
    }
    .sp{
        display: block;
    }
    header nav li {
        margin: 15px;
    }
    
    header nav li a {
        font-size: 1.5rem;
        letter-spacing: 0.3rem;
        padding: 10px 2px;
    }
    
    h1 {
        font-size: 4rem;
        font-weight: 300;
        letter-spacing: 0.3rem;
    }
    
    .header_description {
        font-size: 1.7rem;
        letter-spacing: 0.3rem;
        line-height: 3.6rem;
    }
    
    .header_description p span {
        padding-right: 0.4rem;
        border-right: 0.1px solid rgb(75, 72, 70, 0.4);
    }
    
    header .decoration img:nth-child(1) {
        width: 60%;
        top: 2%;
        left: -15%;
        z-index: 5;
    }
    
    header .decoration img:nth-child(2) {
        width: 70%;
        top: 25%;
        left: 0%;
        z-index: 4;
    }
    
    header .decoration img:nth-child(3) {
        width: 50%;
        top: 40%;
        left: 50%;
        z-index: 3;
    }
    
    header .decoration img:nth-child(4) {
        width: 59%;
        bottom: 15%;
        right: -10%;
    }
    
    header .decoration::before {
        padding: 0;
    }
    
    header .decoration::after {
        padding: 0;
    }

    #intro {
        height: 1000px;
        margin-top: 50px;
    }
    
    #intro h2 {
        top: 17%;
        right: 10%;
        font-size: 3rem;
        font-weight: 200;
        letter-spacing: 0.15rem;
    }
    
    
    #intro p {
        top: 27%;
        right: 30%;
        font-size: 1.6rem;
        letter-spacing: 0.15rem;
        line-height: 3.0rem;
    }
    
    #intro .decoration img:nth-child(1) {
        width: 20%;
        top: 0%;
        left: 2%;
        z-index: 2;
    }
    
    #intro .decoration img:nth-child(2) {
        width: 40%;
        top: 5%;
        left: 10%;
        z-index: 1;
    }
    
    #intro .decoration img:nth-child(3) {
        width: 58%;
        top: 29%;
        right: 0;
        z-index: 2;
    }
    
    #intro .decoration img:nth-child(4) {
        width: 30%;
        top: 70%;
        right: 5%;
        z-index: 3;
    }
    
    #intro .decoration img:nth-child(5) {
        width: 30%;
        top: 75%;
        right: 15%;
        z-index: 2;
    }
    
    #intro .decoration img:nth-child(6) {
        width: 8%;
        top: 89%;
        right: 39%;
        z-index: 3;
    }
    
    #intro .decoration img:nth-child(7) {
        width: 77%;
        top: 50%;
        left: -4%;
        z-index: 2;
    }
    
    #intro .decoration img:nth-child(8) {
        width: 18%;
        top: 73%;
        left: 24%;
        z-index: 1;
    }
    h2 {
        font-size: 2rem;
        font-weight: 300;
        white-space: nowrap;
        letter-spacing: 0.3rem;
        color: rgb(75, 72, 70, 0.8);
    }
    #effect h2{
        text-align: center;
        position: relative;
        top: 3%;
        left: 0%;
        transform: translate(0%,0%);
    }
    
    .effect_main_container {
        width: 80%;
        margin: 80px auto 60px;
    }
    
    .effect_main {
        margin: 20px;
    }
    
    .effect_main img {
        width: 150px;
    }
    
    .effect_main p {
        font-weight: 300;
        font-size: 2rem;
        letter-spacing: 0.3rem;
    }
    
    #effect .effect_description {
        text-align: center;
        color: #4B4846;
        font-size: 1.6rem;
        letter-spacing: 0.2rem;
        line-height: 4.3rem;
        opacity: 0.8;
        margin-bottom: 100px;
    }
    
    #effect .button {
        left: 10%;
    }
    
    #effect .button p {
        font-size: 4rem;
        padding: 34px 60px 30px;
        text-align: center;
    }
    
    #effect .decoration img:nth-child(1) {
        width: 40%;
        top: 20%;
        right: 10%;
    }
    
    #effect .decoration img:nth-child(2) {
        width: 18%;
        bottom: 18%;
        left: 0%;
    }
    
    #effect .decoration img:nth-child(3) {
        width: 20%;
        bottom: 10%;
        left: 5%;
    }
    #effect .decoration img:nth-child(4) {
        width: 6%;
        bottom: 5%;
        left: 25%;
    }
    #effect .decoration::before {
        top: 3.5%;
        left: 50%;
        padding: 0.5px 40vw;
        transform: translate(-50%,0);
    }
    #recipe h2{
        text-align: center;
        left: 0;
    }
    .recipe_wrapper{
        margin-top: 80px;
        display: flex;
        align-items: center;
    }

    #rmc1{
        width: 50%;
        margin-top: 0px;
    }
    #rmc2{
        width: 50%;
        height: 70%;
        margin-bottom: 0px;
    }
    
    .recipe_main {
        margin: 40px 10px;
    }
    
    .recipe_main img {
        width: 180px;
    }
    
    .recipe_main p {
        padding: 6px 3px 6px 18px;
        font-size: 2rem;
        line-height: 1;
        letter-spacing: 0.3rem;
    }
    
    #recipe .button {
        margin: 100px 100px 200px;
    }

    #recipe .decoration img:nth-child(1) {
        width: 15%;
        bottom: 20%;
        right: 10%;
    }
    
    #recipe .decoration img:nth-child(2) {
        width: 5%;
        bottom: 10%;
        right: 30%;
    }
    #recipe .decoration::before {
        top: 4%;
        left: 50%;
        padding: 0.5px 40vw;
        transform: translate(-50%,0);
    }
    #choose {
        padding-bottom: 50px;
        text-align: center;
    }
    #choose h2{
        left: 0%;
        transform: translate(0,0);
    }
    #choose .choose_subtitle{
        top: 4%;
        left: 0%;
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
        transform: translate(0,-50%);
    }
    .choose_main_container {
        width: 60%;
        margin: 50px auto;
    }
    
    .choose_main {
        position: relative;
    }
    #choose_main1 {
        margin-top: 100px;
    }
    #choose_main2 {
        margin-top: 50px;
    }
    #choose_main3 {
        margin-top: 50px;
    }
    #choose_main4 {
        margin-top: 50px;
    }
    .choose_main img {
        width: 200px;
    }
    
    .choose_main p {
        position: absolute;
        transform: translate(-50%, -50%);
    }
    
    .choose_main p:nth-child(2){
        top: 17%;
        left: 10%;
        font-size: 0.5rem;
        color: #FFBC00;
        opacity:80%;
    }
    .choose_main p:nth-child(3){
        top: 24%;
        left: 14%;
        font-size: 2.3rem;
        color: #FFBC00;
        opacity:80%;
    }
    .choose_main p:nth-child(4){
        top: 50%;
        left: 52%;
        opacity: 0.8;
        font-family: fot-tsukuardgothic-std, sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 2.5rem;
        white-space: nowrap;
        letter-spacing: 0.3rem;
        color: rgb(75, 72, 70, 0.8);
    }
    .choose_main p:nth-child(5){
        top: 80%;
        left: 53%;
        opacity: 0.7;
        white-space: nowrap;
        text-align: left;
        color: #4B4846;
        font-size: 1rem;
        letter-spacing: 0.1rem;
        line-height: 1.8rem;
    }
    .choose_main p span{
        border-bottom: 2px solid #fff;;
    }
    #choose .button{
        margin: 40px 0;
    }
    #choose .decoration img:nth-child(1) {
        opacity: 0.3;
        width: 30%;
        top: -30%;
        left: 5%;
    }
    
    #choose .decoration img:nth-child(2) {
        width: 15%;
        bottom: 5%;
        left: 5%;
    }
    
    #choose .decoration img:nth-child(3) {
        width: 5%;
        bottom:3%;
        left: 20%;
    }
    
    #choose .decoration::before {
        top: 2.5%;
        left: 50%;
        padding: 0.5px 40vw;
        transform: translate(-50%,0);
    }
    
    #buy {
        text-align: center;
        margin-bottom: 100px;
    }
    #buy .button p{
        font-size: 4rem;
        padding: 34px 60px 30px;
    }
    footer {
        position: relative;
    }
    
    footer p {
        font-size: 1.5rem;
        color: #F8F8EF;
        text-align: center;
        position: relative;
        z-index: 2;
        padding-bottom: 30px;
    }
    
    footer img {
        width: 50%;
        position: absolute;
        right: 0;
        bottom: 0;
    }
}